[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "repo"]
	path = repo
	url = https://github.com/franapoli/repo
	shallow = true
	registered = true
